/* In this styles only will be a classnames which are common for all pages, or at
least for 2 page */
@font-face {
  font-family: "Arial GEO";
  src: url(../../Assets/Font/arial-geo-webfont.ttf);
}

  /* left side */
.container {
    width:1920px;
    height:1080px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    color:black;
    position: relative;
    box-sizing: border-box;
    font-family: "Arial GEO";
}

.flexRow, .mobileContainer, .emailContainer {
    display: flex;
    flex-direction:row;
}
.headline {
    width:100%;
    height:30px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}
.language, .modeSun, .modeMoon {
    width:30px;
    height:30px;
    cursor: pointer;
    transition: 0.5s ease;
    cursor: pointer;
}
.modeSun {
    
    filter: invert(91%) sepia(55%) saturate(1057%) hue-rotate(3deg) brightness(111%) contrast(109%);
    
}
.modeMoon {
    filter: invert(30%) sepia(6%) saturate(299%) hue-rotate(161deg) brightness(93%) contrast(88%);
}
.ellipse {
    width:40px;
    height:40px;
    position: absolute;
    top:45px;
    left:48px;
    z-index: 2;
    cursor: pointer;
    transition: 0.5s ease;
}
.ellipseDark {
  
  filter: brightness(0%);
  
}
.vectorDark {
    width: 9.21px;
    height: 16px;
    position: absolute;
    top:57px;
    left:62px;
    z-index: 3;
    cursor: pointer;
    filter: brightness(0%);
    transition: 0.5s ease;
}
.vectorLight {
  filter: invert(99%) sepia(7%) saturate(3%) hue-rotate(73deg) brightness(107%) contrast(100%);
}
.infoContainer {
    width:1098px;
    height:1080px;
    background-color: #f9f9f9;
    position: absolute;
    z-index: 1;
    top:0;
    left:0;
    color:black;
    
}
.infoContainerDark {
  background-color: #090909;
  color:white;
}
.skeleton {
    width:calc(1098px - 300px);
    height:1080px;
    position: relative;
    margin-left: 150px;
    margin-top: 47px;
}

.labelStandard {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
    cursor: pointer;
}
.inputStandard {
    width:100%;
    height: 48px;
    font-size: 16px;
    margin-top: 8px;
    padding: 0 16px;
    color: #000000;
  background-color: #ffffff;
}
.inputStandard:active, .inputStandard:focus, .inputStandardDark:active, .inputStandardDark:focus, .textAreaFocus:focus, .textAreaFocus:active {
    outline: 0;
}
.inputStandardDark {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid white;
  transition: 0.5s ease;
}
.spanStandard {
    font-size: 14px;
    color:#2E2E2E;
    font-family: light;
}
.purpleButton {
    padding:14px 35px;
    position: absolute;
    bottom:65px;
    right:150px;
    background-color:#6B40E3 ;
    color:white;
    cursor: pointer;
    transition: 0.5s ease;
    font-size:18px;
}
.purpleButtonDark {
  background-color:#180352 ;
  border:1px solid black
}
.purpleButtonTwice {
  padding:14px 35px;
  background-color:#6B40E3 ;
  color:white;
  cursor: pointer;
  transition: 0.5s ease;
  font-size:18px;
}
.purpleButtonTwiceDark {
  padding:14px 35px;
  
  cursor: pointer;
  transition: 0.5s ease;
  font-size:18px;
  background-color:#180352 ;
  border:1px solid black;
  color:white;
}

.skyColorButton {
  background-color:#62A1EB;
  padding: 14px 21px;
  color:white;
  cursor: pointer;
  transition: 0.5s ease;
  font-size:18px;
  z-index: 3;
}
.skyColorButtonDark{
  background-color:#032750;
  border:1px solid black
}
.purpleButton:focus, .skyColorButton:focus  {
    transform: scale(0.95);
}
.purpleButtonBack {
  left:150px;
}
/* left side */

/* right side */
.renderContainer {
    width:822px;
    height:1080px;
    background-color: #ffffff;
    color:black;
    position: absolute;
    z-index: 1;
    top:0;
    right:0;
    padding-left:80px;
    box-sizing: border-box;
}
.renderContainerDark {
  background-color: #000000;
  color: white;
}
.orange {
    width:42px;
    height:42px;
    position: absolute;
    left:78px;
    bottom:44px;
    cursor: pointer;
}
.lineName {
    font-family: RobotoBold;
    width:calc(100% - 264px - 75px);
    height:42px;
    color:#F93B1D;
    font-size: 34px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 700;
    margin-top:68px;
    margin-bottom: 20px;
}
/* I through .lineName:first-child would work ,but It did not work so 
I used chatJPT */
.lineName > div:first-child {
    margin-right: 20px;
    
  }
  .mobileContainer {
    margin-bottom: 34px;
  }
  .mobileIcon, .spiralIcon {
    width:16.64px;
    height:16.64px;
    filter: invert(55%) sepia(9%) saturate(11%) hue-rotate(323deg) brightness(97%) contrast(82%);
  }
  .imageUpload {
    width: 246px; 
    height: 246px; 
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    top:48px;
    right:75px;
  }
  .commonCorrect {
    width:16.5px;
    height:16.5px;
    position: absolute;
    z-index: 3;

  }
  .commonWrong {
    width:21px;
    height:18.5px;
    position: absolute;
    z-index: 3;
  }
  .commonInputBorder {
    border:1px solid black;
  }

  .CommonBGCPosition {
    position: absolute;
    z-index: 2;
    top:88px;
    left:150px;
  }
  .CommonlanguagePosition {
    position: absolute;
    z-index: 2;
    top:88px;
    left:187px;
  }
  /* გამოცდილება */
/* Last */
.finalResume {
  width:1920px;
  height:1500px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  
}
.finalResumeDark {
  background-color: black;
  
}