/* In this styles only will be a classnames which are common for all pages, or at
least for 2 page */
@font-face {
    font-family: RobotoBold;
    src: url(../Assets/Font/Roboto-Bold.ttf);
  }
  @font-face {
    font-family: light;
    src: url(../Assets/Font/Roboto-Light.ttf);
  }
.container {
    width:1920px;
    height:1080px;
    box-sizing: border-box;
    background-color: rgb(249, 202, 202);
    color:black;
    position: relative;
    box-sizing: border-box;
    font-family: RobotoBold;
    overflow: hidden;
}
.containerFlex {
    display: flex;
    flex-direction:row;
}
.dFlex {
    width:100%;
    height:30px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}
.language {
    width:40px;
    height:40px;
    cursor: pointer;
}
.modeSun {
    width:40px;
    height:44px;
    cursor: pointer;
    filter: invert(91%) sepia(55%) saturate(1057%) hue-rotate(3deg) brightness(111%) contrast(109%);
    transition: 0.5s ease;
}
.modeMoon {
    width:40px;
    height:43px;
    cursor: pointer;
    filter: invert(30%) sepia(6%) saturate(299%) hue-rotate(161deg) brightness(93%) contrast(88%);
    transition: 0.5s ease;
}
.ellipse {
    width:40px;
    height:40px;
    position: absolute;
    top:45px;
    left:48px;
    z-index: 2;
    cursor: pointer;
}
.vector {
    width: 9.21px;
    height: 16px;
    position: absolute;
    top:57px;
    left:62px;
    z-index: 3;
    cursor: pointer;

}
.infoContainer {
    width:1098px;
    height:1080px;
    background-color: #f9f9f9;
    position: absolute;
    z-index: 1;
    top:0;
    left:0;
    
}
.skeleton {
    width:calc(1098px - 300px);
    height:1080px;
    position: relative;
    margin-left: 150px;
    margin-top: 47px;
}

.labelStandard {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
    cursor: pointer;
}
.inputStandard {
    width:100%;
    height: 48px;
    font-size: 16px;
    margin-top: 8px;
    padding: 0 16px;
}
.inputStandard:active {
    outline: 0;
}
.inputStandard:focus {
    outline: 0;
}
.spanStandard {
    font-size: 14px;
    color:#2E2E2E;
    font-family: light;
}
.purpleButton {
    padding:14px 35px;
    position: absolute;
    bottom:65px;
    right:150px;
    background-color:#6B40E3 ;
    color:white;
    cursor: pointer;
    transition: 0.5s ease;
}
.purpleButton:focus {
    transform: scale(0.95);
}
.renderContainer {
    width:822px;
    height:1080px;
    background-color: #ffffff;
    position: absolute;
    z-index: 1;
    top:0;
    right:0;
}
.orange {
    width:42px;
    height:42px;
    position: absolute;
    left:78px;
    bottom:44px;
    cursor: pointer;
}