/* In this styles only will be a classnames which are common for all pages, or at
least for 2 page */

.container {
    width:1920px;
    height:1080px;
    box-sizing: border-box;
    background-color: rgb(249, 202, 202);
    color:black;
    position: relative;
    box-sizing: border-box;
}
.language {
    width:40px;
    height:40px;
    cursor: pointer;
}
.modeSun {
    width:40px;
    height:44px;
    cursor: pointer;
    filter: invert(91%) sepia(55%) saturate(1057%) hue-rotate(3deg) brightness(111%) contrast(109%);
    transition: 0.5s ease;
}
.modeMoon {
    width:40px;
    height:43px;
    cursor: pointer;
    filter: invert(30%) sepia(6%) saturate(299%) hue-rotate(161deg) brightness(93%) contrast(88%);
    transition: 0.5s ease;
}