@font-face {
  font-family: Roboto;
  src: url(./Assets/Font/Roboto-Regular.ttf);
}
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: Roboto;
}
body {
  /* The task was to made the project 1920x1080 */
  width:1920px;
  min-height:1080px;
  box-sizing: border-box;
  background-color: rgb(249, 202, 202);
  color:black;
}