@font-face {
  font-family: arialGeo;
  src: url(./Assets/Font/arial-geo-webfont.ttf);
}
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: arialGeo;
}
body {
  /* The task was to made the project 1920x1080 */
  background-color: rgb(255, 255, 255);
  color:black;
  font-family: arialGeo;
}